<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li><a href="" class="class font-style">Пирожок на посошок</a></li>
        <li><a href="" class="class">Доброе утро страна</a></li>
        <li><a href="" class="class">Кря</a></li>
        <li><a href="" class="class">Кря</a></li>
        <li><a href="" class="class">Кря</a></li>
        <li><a href="" class="class">Высокоинтелектуальные разговоры</a></li>
      </ul>
    </header>
  
    <div>
      <a href="">Нажми и удиви</a>
    </div>
</body>
</html>
<header>
   